@media (max-width: 1200px)
  .container
    max-width: 960px
  .hotel
    &-slider
      width: 590px
  .swiper
    &-slide
      &__img
        height: 100%
        width: 100%
        object-fit: cover
  .card
    width: 230px
    height: 230px
  .footer
    &__input
      flex-basis: 100%
@media (max-width: 992px)
  .container, .newsletter-wrapper
    max-width: 700px
  .logo
    width: 132px
  .navbar
    &-top
      padding: 30px 0 30px 0
    &__search
      margin-left: auto
    &-menu
      padding: 20px 12.9px 22px 15px
      &__link
        font-size: 12px
        line-height: 15px
    &__search
      margin-left: 49px
  .search
    &__input
      width: 340px
  .user
    &__name
      margin-right: 0
  .hotel
    padding-top: 0
    padding-bottom: 60px
    &-info
      padding-top: 24px
      padding-bottom: 20px
      &__description
        margin: 0
      &__name
        margin-top: 0
      &__offer
        margin-left: 13.8px
        margin-bottom: 3px
      &__rating
        margin-bottom: 5px
    &-grid
      flex-direction: column
    &__slider
      width: 100%
      margin-bottom: 30px
    &-right
      flex-direction: row
    &__stars
      margin-left: 3.5px
  .breadcrumb
    &-list
      padding-top: 19px
  .stars
    display: flex
    align-items: flex-end
    &__star
      margin-right: 3px
      margin-bottom: 5px
  .booking
    width: 340px
    height: 210px
  .map
    width: 340px
    height: 210px
  .newsletter
    &-wrapper
      align-items: flex-start
  .reviews
    padding-bottom: 60px
    &__star
      margin-right: 3px
    &__title
      font-size: 30px
      margin-bottom: 43px
    &-slider
      &__rating
        display: flex
      &__item
        max-width: 580px
        padding: 0 60px 30px 64px
        &::after, &::before
          display: none
    &-slider
      &__button
        top: 50%
        &--prev
          left: 0
        &--next
          right: 0
      &__date
        margin-bottom: 5px
      &__item
        margin-top: 49px
      &__profile
        margin-bottom: 32px
        margin-top: -49px
  .activities
    padding: 60px 0 50px 0
    &__card
      margin-bottom: 20px
  .card
    width: 340px
    height: 255px
    &__title
      margin-top: 119px
      max-width: 200px
  .footer
    padding: 73px 0 33px 0
    &-wrapper
      grid-template-columns: repeat(12, 1fr)
      grid-gap: 20px
    &__input
      flex-basis: 48%
    &__logo
      grid-row: 1/2
      grid-column: span 2
      margin-bottom: 18px
    &__social
      &-network
        grid-row: 1/2
        grid-column: 4/10
        align-self: center
    &__categories
      grid-row: 2/3
      grid-column: 1/5
      margin-left: 3px
    &__legal
      grid-column: span 4
      grid-row: 2/3
    &__contact
      &-details
        grid-row: 3
        grid-column: span 9
      &-form
        grid-row: 4
        grid-column: span 5
    &__additional
      grid-column: 4/9
      grid-row: 2/3
      margin-left: 28px
    &__message
      width: 539px
    &__form
      width: 539px
      margin-bottom: 56px
    &__text
      margin-top: 0
  .modal
    &__dialog
      padding-right: 40px
      padding-left: 40px
    &__button
      width: 100%
    &__info
      margin-bottom: 20px
      order: -1
    &-wrapper
      flex-direction: column
      align-items: start
@media (max-width: 768px)
  .container
    max-width: 576px
    width: 92%
  body
    padding-top: 78px
  .navbar
    &--mobile
      &_fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &__search, &__user
      &--mobile
        &_hidden
          display: none
        &_visible
          display: flex
    &__user
      flex-direction: column
      justify-content: center
    &-bottom
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 78px
      padding-top: 30px
      &--visible
        display: block
    &-menu
      flex-direction: column
      &__item
        margin-bottom: 20px
        &--mobile
          &_visible
            display: block

  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: center
      flex-direction: column
      justify-content: space-between
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .user
    &__name
      &--light
        color: $light
        margin-left: 0
        margin-top: 10px
  .stars
    flex-basis: auto
  .hotel
    &-name
      flex-basis: 100%
    &-wrapper
      justify-content: space-between
    &__slider
      height: 350px
    &-info
      &__text
        width: 100%
      &__name
        margin-top: 10px
      &__rating
        display: none
      &__offer
        order: -1
        margin-left: 0
  .hotel
    &-right
      flex-direction: column
      min-height: 450px
  .booking
    width: 100%
  .map
    width: 100%
  .newsletter
    &-wrapper
      flex-direction: column
      width: 92%
      max-width: 576px
      align-items: flex-start
  .reviews
    &__title
      font-size: 30px
    &-slider
      &__item
        padding: 0 30px 30px
        max-width: 580px
        &::after, &::before
          display: none
      &__button
        top: 32px
        &--prev
          left: 50%
          margin-left: -65px
          transform: translate(-50%, 0)
        &--next
          right: 50%
          margin-right: -65px
          transform: translate(50%, 0)
      &__container
        max-width: 455px
  .activities
    padding: 60px 0 70px 0
  .card
    width: 49%
    height: 255px
    &__title
      font-style: normal
      font-weight: bold
      font-size: 16px
      line-height: 20px
  .footer
    padding: 73px 0 33px 0
    &__input
      flex-basis: 100%
    &__additional
      margin-left: 0
    &__ul
      width: 493px
  .modal
    &__dialog
      width: 70%
      max-width: none

@media (max-width: 576px)
  .container
    max-width: 480px
  .logo
    width: 99px
  .navbar
    &__search, &-menu, &__user
      display: none
  .menu
    &-button
      display: flex
      width: 16px
      height: 11px
      padding: 0
      align-items: center
      justify-content: center
      flex-direction: column
      justify-content: space-between
      border: none
      background-color: $light
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $text-color
  .hotel
    padding-top: 50px
    &__slider
      height: 250px
      margin-bottom: 20px
  .newsletter
    padding: 76px 0 83px 0
    &__title
      margin-bottom: 37px
  .subscribe
    width: 100%
  .reviews
    &-slider
      &__container
        max-width: 455px
  .card
    width: 100%
  .footer
    &-wrapper
      grid-template-columns: 1fr
    &__logo
      grid-row: 1
      grid-column: 1
    &__social
      &-network
        grid-row: 2
        grid-column: 1
    &__additional
      grid-row: 3
      grid-column: 1
    &__categories
      grid-row: 4
      grid-column: 1
    &__legal
      grid-row: 5
      grid-column: 1
    &__contact
      &-details
        grid-row: 6
        grid-column: 1
        width: 250px
      &-form
        grid-row: 7
        grid-column: 1
    &__ul
      width: 250px

@media (max-width: 480px)
  .container
    max-width: 280px
  body
    padding-top: 69px
  .navbar
    &-top
      padding-top: 29px
      padding-bottom: 29px
  .hotel
    &-right
      min-height: 402px
  .hotel
    padding-top: 0
    padding-bottom: 40px
    &__stars
      margin-right: 16px
    &-grid
      padding-top: 18px
    &-info
      padding-top: 5px
      padding-bottom: 20px
      &__name
        margin: 0
      &__offer
        margin-top: 0
        margin-bottom: 10px
    &__slider
      height: 179px
  .logo
    display: flex
  .map
    height: 172px

  .breadcrumb
    &-list
      padding-bottom: 18px
      padding-top: 19px

  .newsletter
    padding: 76px 20px 83px 20px
    &-wrapper
      margin: 0
    &-title
      font-size: 20px
      font-style: normal
      line-height: 25px
      &__strong
        font-size: 30px
        font-style: normal
        line-height: 38px
        margin-top: 5px
      &__title
        margin-bottom: 37px
  .subscribe
    width: 280px
    &__input
      padding: 19px 74px 18px 20px
    &__button
      font-size: 12px

  .reviews
    padding-bottom: 50px
    &__title
      font-size: 18px
      max-width: 245px
      margin: auto 40px 42px
      line-height: 23px
    &-slider
      &__item
        padding-bottom: 36px
      &__profile
        margin-bottom: 33px
      &__container
        max-width: 219px
      &__text
        text-align: left
      &__button
        top: 6%
        &--prev
          left: 115px
        &--next
          right: 115px
  .activities
    padding-top: 40px
    padding-bottom: 60px
    &__first
      order: 1
    &__second
      order: 3
    &__third
      order: 2
      margin-bottom: 28px
    &__four
      order: 4
      font-size: 18px
      line-height: 23px
      margin-bottom: 0
    &__title
      font-weight: bold
      font-size: 18px
      line-height: 23px
      margin-bottom: 36px
  .card
    width: 100%
    height: 255px
  .footer
    &__form
      width: 281px
    &__input
      flex-basis: 100%
  .modal
    &__dialog
      width: 90%
      padding-right: 20px
      padding-left: 20px
